.Root {
  width: 30px;
  height: 30px;
  border: 1px solid #161616FF;
  border-radius: 7px 7px 7px 7px;
  overflow: hidden;
  align-items: center;
  align-content: stretch;
  justify-content: center;
}

.Label {
  color: black;
  padding-left: 15px;
  font-size: 15px;
  line-height: 1;
}