/* src/Shared.module.css */
.baseButton {
  padding: 0.5rem 1rem;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-size: 1rem;
}

.primaryColor {
  background-color: #646cff;
  color: white;
}

.secondaryColor {
  background-color: #42b883;
  color: white;
}
